[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=2.7"
python-vagrant = "*"

[dev-packages]
molecule = "~=2.19"
docker = "~=3.5"
ansible = "~=2.7"

[requires]
python_version = "3.7"
