[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=2.4"
docker-py = "*"
requests = "*"

[dev-packages]
molecule = "~=2.19"

[requires]
python_version = "3.7"
