---
- name: Add administrator user
  user: name=administrator comment="Privileged administrator user" uid=1001 group=sudo shell=/bin/bash
  remote_user: root
  tags:
    - prebootstrap

- name: Enable default repos
  apt_repository: repo='deb http://ftp.debian.org/debian/ jessie main' state=present
  remote_user: root
  tags:
    - prebootstrap

- name: Update packges
  apt: update_cache=yes
  tags:
    - prebootstrap

- name: Install sudo package
  apt: name={{ item }} state=present
  remote_user: root
  with_items:
    - sudo
  tags:
    - prebootstrap

- name: Sudo without password
  lineinfile: "dest=/etc/sudoers state=present regexp='^%sudo' line='%sudo ALL=(ALL) NOPASSWD: ALL'"
  remote_user: root
  tags:
    - prebootstrap

- name: Set up authorized_keys for the administrator user
  authorized_key: user=administrator
                  key="{{ item }}"
  with_file:
    - keys/administrator
  tags:
    - prebootstrap

- name: Disallow SSH password authentication
  remote_user: administrator
  become: yes
  become_method: sudo
  lineinfile:
    dest=/etc/ssh/sshd_config
    regexp="^PasswordAuthentication"
    line="PasswordAuthentication no"
    state=present
  tags:
    - bootstrap

- name: Disallow root SSH access
  remote_user: administrator
  become: yes
  become_method: sudo
  lineinfile:
   dest=/etc/ssh/sshd_config
   regexp="^PermitRootLogin"
   line="PermitRootLogin no"
   state=present
  notify:
    - restart sshd
  tags:
    - bootstrap

- name: Dist upgrade packges
  remote_user: administrator
  become: yes
  become_method: sudo
  apt: upgrade=dist
  tags:
    - bootstrap

- name: Install packges
  remote_user: administrator
  become: yes
  become_method: sudo
  apt: name={{ item }} state=present
  with_items:
    - vim
    - tmux
    - htop
    - atop
    - ufw
    - emacs24-nox
    - atsar
  tags:
    - bootstrap

- name: Create stackbuilders group
  remote_user: administrator
  become: yes
  become_method: sudo
  group: name=stackbuilders state=present
  tags:
    - bootstrap

- name: Add stackbuilders user
  remote_user: administrator
  become: yes
  become_method: sudo
  user: name=stackbuilders comment="Unprivileged Stack Builders User" groups=stackbuilders,sudo shell=/bin/bash generate_ssh_key=yes ssh_key_bits=2048 ssh_key_file=.ssh/id_rsa
  tags:
    - bootstrap

- name: Set up authorized_keys for the stackbuilders user
  remote_user: administrator
  become: yes
  become_method: sudo
  authorized_key: user=stackbuilders
                  key="{{ item }}"
  with_file:
    - keys/stackbuilders
  tags:
    - bootstrap

- name: Ensure github.com is a known host
  remote_user: stackbuilders
  become: yes
  become_method: sudo
  lineinfile:
    dest: /home/stackbuilders/.ssh/known_hosts
    create: yes
    state: present
    line: "{{ lookup('pipe', 'ssh-keyscan -t rsa github.com') }}"
    regexp: "^github\\.com"

  tags:
    - bootstrap

- name: Configure UFW
  remote_user: administrator
  become: yes
  become_method: sudo
  ufw: state=enabled policy=disable
  ufw: logging=on
  ufw: rule=allow name=OpenSSH
  tags:
    - bootstrap

- name: Add FPCO Deb Key
  remote_user: administrator
  become: yes
  become_method: sudo
  apt_key: url=https://s3.amazonaws.com/download.fpcomplete.com/debian/fpco.key state=present
  tags:
    - haskell-stack

- name: Add FPCO Deb repository
  apt_repository: repo='deb http://download.fpcomplete.com/debian/jessie stable main' state=present
  remote_user: administrator
  become: yes
  become_method: sudo
  tags:
    - haskell-stack

- name: Update packges
  remote_user: administrator
  become: yes
  become_method: sudo
  apt: update_cache=yes
  tags:
    - haskell-stack

- name: Install Stack packges
  remote_user: administrator
  become: yes
  become_method: sudo
  apt: name=stack state=present
  tags:
    - haskell-stack

- name: Install common Haskell build dependencies
  remote_user: administrator
  become: yes
  become_method: sudo
  apt: name={{ item }} state=present
  with_items:
    - libpcre3-dev
    - libpq-dev
  tags:
    - haskell-build-dependencies

- name: Set up application deploy directory
  remote_user: administrator
  become: yes
  become_method: sudo
  file: path=/var/projects state=directory owner=stackbuilders group=stackbuilders mode=0775
  tags:
    - create-app-directory
